:root {
    --tab-width: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
}

/* TABS */

#tab-header {
    width: var(--tab-width);
    min-width: var(--tab-width);
    height: 100%;
    background-color: #666;
    overflow: hidden;
}

#tab-header .tab-header-item {
    width: calc( var(--tab-width) - 10px);
    height: calc( var(--tab-width) - 10px);
    margin: 5px;
    margin-left: 10px;
    background-color: #666;
    box-shadow: 1px 1px 5px 0px #555, -1px -1px 5px 0px #777;
    border-radius: 10px 0 0 10px;
    cursor: pointer;

    /* tmp */
    color: #888;
    line-height: 40px;
    text-align: center;
    user-select: none;
    transition: all .1s linear;
}

#tab-header .tab-header-item:hover {
    color: #aaf0d1;
    text-shadow: 0 0 4px #d0e7dd;
}

#tab-header .tab-header-item.active {
    color: #aaf0d1;
    text-shadow: 0 0 4px #d0e7dd;
}

#tab-content {
    flex: 100%;
    height: 100%;
    display: flex;
}

#tab-content .tab-content-item {
    width: 100%;
    display: none;
    overflow: hidden;
    position: relative;
}

#tab-content .tab-content-item.active {
    display: flex;
}

/* RUN TAB : TOOLBAR */

#tab-content .tab-content-item.source .toolbar,
#tab-content .tab-content-item.run .toolbar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    background-color: #666;
    transition: all .3s linear;
}

.toolbar .toolbar-content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 10px;
}

#tab-content .tab-content-item.source .toolbar.closed,
#tab-content .tab-content-item.run .toolbar.closed {
    width: 0;
}

#tab-content .tab-content-item.source .toolbar.closed *:not(:first-child),
#tab-content .tab-content-item.run .toolbar.closed *:not(:first-child) {
    display: none;
}

#tab-content .tab-content-item.source .toolbar .toolbar-toggler,
#tab-content .tab-content-item.run .toolbar .toolbar-toggler {
    position: absolute;
    width: 20px;
    height: 20px;
    user-select: none;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    color: #888888;
    left: 10px;
    top: 10px;
    box-shadow: 1px 1px 5px 0px #555, -1px -1px 5px 0px #777;
    font-size: 10px;
    border-radius: 5px;
    transition:  .3s linear;
    transition: all .3s linear, color .1s linear;
}

#tab-content .tab-content-item.source .toolbar .toolbar-toggler.closed,
#tab-content .tab-content-item.run .toolbar .toolbar-toggler.closed {
    left: -30px;
    box-shadow:  1px 1px 5px 0px #ddd, -1px -1px 5px 0px #fff;
}

#tab-content .tab-content-item.source .toolbar .toolbar-toggler.closed:hover,
#tab-content .tab-content-item.run .toolbar .toolbar-toggler.closed:hover {
    color: #ca1515;
    text-shadow: 0 0 4px #dd7385;
}

#tab-content .tab-content-item.source .toolbar .toolbar-toggler:hover,
#tab-content .tab-content-item.run .toolbar .toolbar-toggler:hover {
    color: #aaf0d1;
    text-shadow: 0 0 4px #d0e7dd;
}

#tab-content .tab-content-item.run .toolbar .info {
    background-color: #111;
    color: #f1f1f1;
    border-radius: 20px;
    padding: 10px;
}

/* RUN TAB : RUN CONTROLS */

.controls {
    user-select: none;
    position: absolute;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 20px;
    left: calc(50% - 150px);
    background-color: #f1f1f1;
    box-shadow: 5px 5px 5px 0px #ddd, -5px -5px 20px 0px #fff;
    border-radius: 15px;
}

.controls .control {
    height: 30px;
    width: 30px;
    margin: 10px;
    line-height: 30px;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 5px 0px #ddd, -2px -2px 5px 0px #fff;
    color: #666;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    transition: all .1s linear;
    text-align: center;
}

.controls .control:hover {
    color: #ca1515;
    text-shadow: 0 0 4px #dd7385;
}

/* RUN TAB : MAIN */

#runtime {
    flex: 100%;
    height: 100%;
    background-color: #f1f1f1;
    position: relative;
    overflow: hidden;
}

#runtime canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* SOURCE TAB */

#tab-content .tab-content-item.source #workbench {
    flex: 100%;
    position: relative;
}

#tab-content .tab-content-item.source #workbench .block {
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow:  1px 1px 5px 0px #ddd, -1px -1px 5px 0px #fff;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    background-color: #f1f1f1;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

#tab-content .tab-content-item.source #workbench .block.active,
#tab-content .tab-content-item.source #workbench .block:hover {
    box-shadow:  -1px -1px 10px 0px #ccffe0, 1px 1px 10px 0px #66c0a0;
}

#tab-content .tab-content-item.source #workbench .block.block-start {
    background-image: url('https://cdn3.iconfinder.com/data/icons/bold-f1/512/F1_10-512.png');
    border-radius: 50%;
}

#tab-content .tab-content-item.source #workbench .block.block-instructions {
    background-image: url('https://cdn4.iconfinder.com/data/icons/files-13/100/circle-things-28-512.png');
}

#tab-content .tab-content-item.source #workbench .block.block-timer {
    background-image: url('https://image.flaticon.com/icons/svg/1407/1407140.svg');
}

/* not sure bout arrows mechanics yet */
#tab-content .tab-content-item.source #workbench canvas {
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
}